html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
  }
  
  body {
    background-image: url('../resources/mainbg.jpg');
    background-size: cover;
    background-position: center;
  }

